<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
<th:block th:replace="fragments/commons::header">
</th:block>
</head>

<body>
<header th:replace="fragments/commons::navigation">
    </header>



<footer th:replace="fragments/commons::footer">
</footer>


<script src="../static/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
</body>

</html>

<!--implementation 'org.springframework.boot:spring-boot-starter-security'-->
<!--implementation 'org.thymeleaf.extras:thymeleaf-extras-springsecurity6'-->
<!--testImplementation 'org.springframework.security:spring-security-test'-->