<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kids Paradise</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="reset-css.css">
    <link rel="stylesheet" type="text/css" href="register.css"/>

    <title>Register</title>

</head>

<body>

<header>
    <div class="container-fluid banner">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-md">
                    <a class="navbar-brand" href="#">Kids Paradise</a>
      
                    <ul class="nav">
      
                        <li class="nav-item">
                            <a class="nav-link" href="#">HOME</a>
                        </li>
      
                        <li class="nav-item" >
                          <a class="nav-link" href="#">ABOUT</a>
                        </li>
      
                      
                        <li class="nav-item">
                           <a class="nav-link" href="#">PRODUCTS</a>
                        </li>
                    
      
                        <li class="nav-item">
                          <a class="nav-link" href="#">CONTACT</a>
                      </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">REGISTER</a>
                  </li>
      
                  <li class="nav-item">
                      <a class="nav-link" href="#">LOGIN</a>
                  </li>
      
                        <li class="nav-item">
                            <a class="nav-link" href="#">ADD PRODUCT</a>
                        </li>
      
                        <li class="nav-item">
                            <a class="nav-link" href="#">ADMIN</a>
                        </li>
      
                        <li class="nav-item">
                          <a class="nav-link" href="#">PROFILE</a>
                      </li>
      
                      <li class="nav-item">
                          <a class="nav-link" href="#">CART</a>
                      </li>
      
                            <form th:method="POST" th:action="@{/logout}" sec:authorize="isAuthenticated()">
                                <input class="btn btn-light " type="submit" value="LOG OUT">
                            </form>
                        </li>
                    </ul>
                </nav>
            </div>
</header>

                <h1 class="font-weight-bold py-5">Register</h1>


                <form class="mx-auto w-25 bg-blur rounded" method="" action="#">

                    <div class="form-group">
                        <div class="label-holder textCol d-flex justify-content-center"></div>
                            <label class="text-black font-weight-bold">First Name</label>
                            <input id="firstName"
                                   type="text"
                                   placeholder="First Name"
                                   class="form-control"
                                   name="firstName"
                            />
                            <p class="errors alert alert-danger">
                                First name is required and should be at least 2.
                            </p>
                        </div>

                        <div class="form-group">
                            <div class="label-holder textCol d-flex justify-content-center">
                            </div>
                            <label class="text-black font-weight-bold">Last Name</label>
                            <input id="lastName"
                                   type="text"
                                   name="lastName"
                                   placeholder="Last Name"
                                   class="form-control"/>
                            <p class="errors alert alert-danger">
                                Last name is required and should be at least 2 .
                            </p>
                        </div>

                        <div class="form-group">
                            <div class="label-holder textCol d-flex justify-content-center">
                            </div>
                            <label class="text-black font-weight-bold">Username</label>
                            <input id="username"
                                   type="text"
                                   name="username"
                                   placeholder="Username"
                                   class="form-control"/>
                            <p class="errors alert alert-danger">
                                Username is required and should be at least 2.
                            </p>
                        </div>

                        <div class="form-group">
                            <div class="label-holder text-black textCol d-flex justify-content-center">
                            </div>
                            <label class="text-black font-weight-bold">Email</label>
                            <input id="email"
                                   type="Email"
                                   name="email"
                                   placeholder="Email"
                                   class="form-control my-3 p-2"/>
                            <p class="errors alert alert-danger">
                                Email is required and should be unique.
                            </p>

                        </div>

                        <div class="form-group">
                            <div class="label-holder text-white textCol d-flex justify-content-center">
                            </div>
                            <label class="text-black font-weight-bold">Telephone Number</label>
                            <input type="telephoneNumber"
                                   name="telephoneNumber"
                                   placeholder="Telephone Number"
                                   class="form-control my-3 p-2"/>
                            <p class="errors alert alert-danger">
                                Telephone Number is required.
                            </p>

                        </div>

                        <div class="form-group">
                            <div class="label-holder text-black textCol d-flex justify-content-center">
                            </div>
                            <label class="text-white font-weight-bold">Password</label>
                            <input id="password"
                            type="password"
                            name="password"
                            placeholder="Password"
                            class="form-control my-3 p-2"/>
                            <p class="errors alert alert-danger">
                                Password is required and should be at least 3 symbols.
                            </p>
                        </div>

                        <div class="form-group">
                            <div class="label-holder text-black textCol d-flex justify-content-center">
                            </div>
                            <label class="text-white font-weight-bold">Confirm Password</label>
                            <input id="confirmPassword"
                                   type="password"
                                   name="confirmPassword"
                                   placeholder="Confirm Password"
                                   class="form-control my-3 p-2"/>
                            <p class="errors alert alert-danger">
                                Passwords should match.
                            </p>

                        </div>


                        <div class="button-holder d-flex justify-content-center">
                            <button type="submit" class="btn bg-gray rounded-1  mb-3" value="Register">Register</button>
                        </div>

                </form>


<footer>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <footer class="footer bg-transparent  py-2">
  <div class="container-fluid text-center">
    <div class="footer-background h5 text-dark fixed-bottom">
        &copy; Nikolay Ivanov - SoftUni Student 2023. All rights reserved.
    </div>
  </div>
</footer>


</body>

</html>